@model Sprint1AppDev3A.Models.NewContainer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NewContainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContainerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContainerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContainerSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContainerSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadLine)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContainerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
