@model IEnumerable<Sprint1AppDev3A.Models.NewContainer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContainerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContainerSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadLine)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContainerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContainerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContainerID })
        </td>
    </tr>
}

</table>
