@model IEnumerable<Sprint1AppDev3A.Models.DatesBookedDriver>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DriverId.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropOffDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DriverId.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropOffDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DriKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.DriKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DriKey })
        </td>
    </tr>
}

</table>
