@model Sprint1AppDev3A.Models.DatesBookedTrailer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DatesBookedTrailer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrailerId.reg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerId.reg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropOffDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropOffDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TraiKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
