@model IEnumerable<Sprint1AppDev3A.Models.Bookings>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ColStreetNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColStreetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColArea)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ColCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickupdate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DelStreetNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelStreetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelArea)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DelCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dropofdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cellnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specInstruct)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Assigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delcon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colcon)
        </th>
        <th>*@
            @*@Html.DisplayNameFor(model => model.testtext)*@
        @*</th>
        <th>
            @Html.DisplayNameFor(model => model.two)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.finna)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Collection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dropoff)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.ColStreetNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColStreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColArea)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ColCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pickupdate)
        @*</td>
        <td>
            @Html.DisplayFor(modelItem => item.DelStreetNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelStreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelArea)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.DelCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dropofdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cellnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specInstruct)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Assigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delcon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colcon)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.testtext)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.two)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.finna)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Collection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dropoff)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingIds }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingIds }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingIds })
        </td>
    </tr>
}

</table>
